<!DOCTYPE html>
<html lang="PT-br" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola XYZ | Sobre</title>
    <div th:insert="~{fragments/style}"></div>
</head>

<body>
    <div th:insert="~{fragments/header :: header}"></div>
    <div class="container">
        <h1>SOBRE NÓS</h1>
        <p><em>Saiba mais sobre a Escola XYZ:</em></p>
        <p>A Escola XYZ foi fundada em 2005 com o objetivo de oferecer uma educação de qualidade, com foco no
            desenvolvimento integral dos alunos. Nossa missão é preparar os estudantes para os desafios do futuro,
            promovendo valores como respeito, responsabilidade e excelência.</p>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>